<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

  <menuitem name="menu-sales" order="-90"
    title="Sales Management" icon="fa-shopping-cart" icon-background="orange"/>

  <menuitem name="menu-sales-product" parent="menu-sales"
    title="Products"
    action="sale.products" tag="All" tag-style="info"/>

  <action-view name="sale.products" model="com.axelor.sale.db.Product" title="Products">
    <view type="grid"/>
    <view type="form"/>
  </action-view>

  <menuitem name="menu-sales-draft" parent="menu-sales"
    title="Quotations"
    action="sale.orders.draft" tag-get="com.axelor.sale.service.SaleOrderTagsService:countOrdersMenuTag('DRAFT')"/>

  <action-view name="sale.orders.draft" model="com.axelor.sale.db.Order" title="Quotations">
    <view type="grid"/>
    <view type="cards"/>
    <view type="form"/>
    <domain>self.status = :status</domain>
    <context name="status" expr="DRAFT" />
  </action-view>

  <menuitem name="menu-sales-order" parent="menu-sales"
    title="Sale Orders"
    action="sale.orders" tag-get="com.axelor.sale.service.SaleOrderTagsService:countOrdersMenuTag()"/>

  <action-view name="sale.orders" model="com.axelor.sale.db.Order" title="Sale Orders">
    <view type="grid"/>
    <view type="cards"/>
    <view type="form"/>
    <view type="calendar" name="sales-timeline"/>
    <view-param name="search-filters" value="filter-sales"/>
  </action-view>

  <menuitem name="menu-sales-search" parent="menu-sales"
    title="Sales Search..."
    action="sale.search"/>

  <action-view name="sale.search" model="com.axelor.sale.db.Order" title="Sales Search...">
    <view type="search" name="sale-order-search"/>
  </action-view>

  <menuitem name="menu-sales-config" parent="menu-sales" title="Configuration"/>

  <menuitem name="menu-sales-product-category" parent="menu-sales-config"
    title="Product Categories"
    action="sale.product.categories"/>

  <action-view name="sale.product.categories" model="com.axelor.sale.db.ProductCategory" title="Product Categories">
    <view type="grid"/>
    <view type="form"/>
  </action-view>

  <menuitem name="menu-sales-taxes" parent="menu-sales-config"
    title="All Taxes"
    action="sale.taxes"/>

  <action-view name="sale.taxes" model="com.axelor.sale.db.Tax" title="Taxes">
    <view type="grid"/>
    <view type="form"/>
  </action-view>

  <menuitem name="menu-sales-currencies" parent="menu-sales-config"
            title="All Currencies"
            action="sale.currencies"/>

  <action-view name="sale.currencies" model="com.axelor.sale.db.Currency" title="Currencies">
    <view type="grid" name="currency-grid"/>
    <view type="form" name="currency-form"/>
  </action-view>

</object-views>
