<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

  <menuitem name="menu-project" order="-80" title="Project Management" icon="fa-tasks" icon-background="violet"/>

  <menuitem name="menu-project-all" parent="menu-project"
    title="All Projects"
    action="project.all"/>

  <action-view name="project.all" title="Projects" model="com.axelor.project.db.Project">
    <view type="grid" name="project-grid"/>
    <view type="form" name="project-form"/>
  </action-view>

  <menuitem name="menu-project-tasks" parent="menu-project"
    title="All Tasks"
    action="project.task.all"/>

  <menuitem name="menu-project-tasks-my" parent="menu-project"
    title="My Tasks"
    action="project.task.my"/>

  <action-view name="project.task.all" title="All Tasks" model="com.axelor.project.db.ProjectTask">
    <view type="kanban" name="project-task-kanban"/>
    <view type="form" name="project-task-form"/>
    <view type="calendar" name="project-task-calendar" />
  </action-view>

  <action-view name="project.task.my" title="My Tasks" model="com.axelor.project.db.ProjectTask">
    <view type="grid" name="project-my-task-grid"/>
    <view type="form" name="project-task-form"/>
    <view type="calendar" name="project-task-calendar-my" />
    <view-param name="details-view" value="true"/>
    <domain>self.user = :currentUser</domain>
    <context name="currentUser" expr="eval: __user__"/>
    <context name="_xShowMyTasks" expr="eval: true"/>
  </action-view>

  <menuitem name="menu-project-tasks-tree" parent="menu-project"
    title="All Tasks (tree)"
    action="project.tasks.tree"/>

  <action-view name="project.tasks.tree" title="Projects">
    <view type="tree" name="project-task-tree"/>
  </action-view>

 <menuitem name="menu-project-tasks-gantt" parent="menu-project"
    title="Task planning"
    action="project.tasks.gantt"/>

  <action-view name="project.tasks.gantt" title="Task planning" model="com.axelor.project.db.ProjectTask">
    <view type="gantt" name="project-task-gantt"/>
  </action-view>

</object-views>
